<div class="d-flex flex-row justify-content-around">
  <div>
    <div>
      <h4>
        Input no. of Ticket
      </h4>
      <input [(ngModel)]="ticketsToReserve">
      <button type="submit" (click)="bookTikcet()"> Book</button>
    </div>
    <div>
      <h4>
        Booked Tickets are - 
      </h4>
      <div *ngFor="let i of bookedTickets">        
        {{i}}
      </div>
    </div>
  </div>
  <div>
    <div class="d-flex justify-content-between">
      <div *ngFor="let row of [0,1,2,3,4,5,6]">
        {{row+1}}
      </div>

    </div>
    
    <div *ngFor="let row of ticketArrray, let i=index"  >
      {{i+1}}
      <span *ngFor="let j of row">
          <span *ngIf="j == false" class="material-icons">
              check_box_outline_blank
          </span>
          <span *ngIf="j == true"  class="material-icons">
            check_box
          </span>
      </span>
  </div>
  </div>
</div>

